
#carouselExampleIndicators .carousel-item img {
  max-height: 300px; /* Réduire la taille de l'image */
  margin: auto; /* Centrer l'image */
}

.form-control:focus {
  box-shadow: 0 0 0 0.10rem rgb(1, 1, 1) !important; /* Ajouter une légère ombre orange */
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-control-prev, .carousel-control-next {
  width: 5%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: rgb(8, 8, 8);
}

.button {
  background-color: rgb(255, 98, 0);
  width: 460px;
  height: 50px ;
  color: white;
  border-color: rgb(255, 98, 0);
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

